DIALOG_1 DIALOG DISCARDABLE  249, 95, 174, 46
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Connect..."
FONT 8, "Helv"
BEGIN
	CONTROL "Connect",      100, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 9, 40, 14
	CONTROL "Cancel",       101, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 24, 40, 14
	CONTROL "irata.online", 102, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 35, 10, 87, 12
	CONTROL "Host:",        103, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 11, 12, 20, 8
	CONTROL "8005",         104, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 25, 32, 12
	CONTROL "Port:",        105, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 11, 26, 20, 8
END

